.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    gap: 5px;
    width: 100vw
    ;
}

.color1 {
    background-color: darkslategray;
}

.color2 {
    background-color: bisque;
}
 .color3 {
    background-color: coral;
 }

 .color4 {
    background-color: cornflowerblue;
     }